{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}

{% if msg %}
    {{msg}}
{% endif %}
    
<form action="/profiles/register/" method="POST">
    {% csrf_token %}
    <input type="email" id="email" name="email" placeholder="email">
    <input type="text" id = "name"name="name" placeholder="name">
    <input type="number" id="phone_no"  name="phone_no" placeholder="phone number">
    <input type="password" id="password" name="password" placeholder="password">
    <input type="password" id="password1" name="password1" placeholder="confirm password">
    <button name="register" >REGISTER</button><!--onclick="return validate()"-->
    </form>